.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.item1{
  grid-column: 1 / 2;
 }

.item2{
 grid-column: 2 / -1;
 position: relative;
}

#category-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.category-item{
  padding: 10px 12px;
  border: solid 1px gray;
  border-radius: 10px;
  margin: 6px 3px;
  cursor: pointer;
}

.active-category{
  background: gray;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

.mt-6{
  margin-top: 6px !important;
}

.infinite-scroll-component {
  overflow: visible;
}